<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:800,700,600,400,300" rel="stylesheet" type="text/css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<style type="text/css">div, p, a, li, td {
			-webkit-text-size-adjust:none;
		}
		a {
			text-decoration: none !important;
		}
		@media only screen and (max-width: 500px) { /*media query for mobile*/
			.hide{
				display: none !important;
			}
			.show{
				display: block !important;
				width: 100% !important
			}
			.in-show{
				display: inline-block !important;
			}
			.a{
				width: 109.61px !important;
			}
			.b{
				width: 119.76px !important;
			}
			.c{
				width: 52.1px !important;
			}
			.d{
				width: 122px !important;
			}
			.tb-show{
				display: table-cell !important;
				width: 100% !important;
			}
			.tops{
				font-size: 9px !important;
				text-align: center;
				padding: 15px 43px 0;
			}
			.backgrounds-base{
				/*height: 229px !important;*/
			}
			.backgrounds{
				height: 148px !important;
			}
			.logo-normal{
				    width: 134px !important;
			}
			.headers1 {
			    font-size: 24.63px !important;

			}
			.header-1{
				font-size: 24.63px !important;
			   line-height: 23.47px !important;
			   letter-spacing: 0.54px !important;
			   padding: 0 35px !important;
			}
			.gap-header-1{
				    height: 26px !important;
			}
			.gap-header-1-1{
				    height: 29px !important;
			}
			.gap-header-2{
				height: 19px !important;
			}
			.header-2.show{
				display: table-cell !important;
				line-height: 20px !important;
				padding-bottom: 16px !important;
				font-size: 10px !important;
			}
			.headers {
			    font-size: 15px !important;
				 padding: 0 43px 31px !important;
			}
			.top-logo{
				height: 28px !important;
			}

			.bottom-logo{
				height: 35px !important;
			}

			.header-2 {
			    font-size: 13px !important;
			    line-height: 20px !important;
			    text-align: left;
			    padding: 0 30px 16px !important;
			}
			.no-pad{
				padding: 0 !important;
			}
			.capsule{
				width: inherit !important;
				height: 34.39px !important;
				margin: 0 auto !important;
			}
			.capsule-wrapper{
				margin: 0 20px !important;
			}
			.capsule-content{
				width: inherit !important;
				padding-left: 10px !important;
				font-size: 16px !important;
			}
			.capsule-content a{
				text-decoration: none !important;
				color: #ffffff !important;
			}
			.link{
				width: 14.5px !important;
			}
			.capsule-content span{
				line-height: 34px !important;
				font-size: 16.62px !important;
				vertical-align: top !important;
			}
			.process{
			    font-size: 10.52px !important;
			}
			.check {
			    width: 15px !important;
			}
			.share{
				padding: 21px 0 10px !important;
			}
			.share-img{
				height: 13px !important;
			}
			.share-button td a{
				text-decoration: none !important;
				color: #ffffff !important;
			}
			.process-wrap{
				padding: 25px 30px 10px !important;
			}
			.sharer-button{
				padding: 0 30px !important;
			}
			.share-button {
			    min-width: 92px !important;
			    height: 19.13px !important;
			}
			.label {
			    padding-left: 8px !important;
			    font-size: 8.4px !important;
			}
			.gap {
			    height: 37px !important;
			}
			.thanks {
				 padding: 0 30px !important;
			}
			.thanks td{
				font-size: 13px !important;
			}
			.gap-2 {
			    height: 60px !important;
			}
			.content-title{
				font-size: 15px !important;
				letter-spacing: 0.83px !important;
				line-height: 24.3px !important;
				padding: 0 33px !important;
			}
			.contents{
				width: 90px !important;
			}
			.contents img{
				width: 52px !important;
			}
			.content-gap{
				height: 28px !important;
			}
			.content-height{
				line-height: 0 !important;
				height: 10px !important;
			}
			.content-caption{
				font-size: 10px !important;
				letter-spacing: 0.29px !important;
				line-height: 14px !important;
			}

			.phone-img{
				/*width: 321px !important;*/
				width: 100% !important;
			}
			.payment{
				padding: 10px 0 31px !important;
			}
			.payment img{
				width: 256px !important;
			}
			.provide{
				font-size: 11px !important;
				letter-spacing: 0.32px !important;
				line-height: 16px !important;
			}
			.rec-gap{
				height: 12px !important;
			}
			.rec-container, .rec-logo{
				padding: 0 33px !important;
			}
			.rec-caption{
				font-size: 10px !important;
			}
			.rec-line{
				width: 55% !important;
			}
			.footer-item-img {
				width: 30px !important;
			}
			.forcer{
				min-width: 0 !important;
				width : 100% !important;
			}
			.wrapper{
				padding: 50px !important;
			}
            .why{
                color: #238ab6 !important;
                text-decoration: none !important;
            }
		}
		@media only screen and (max-width: 320px) {
			.rec-line{

				width: 40% !important;
			}
			.capsule-content span{
				line-height: 34px !important;
				font-size: 12.62px !important;
				vertical-align: top !important;
			}
		}
		@media only screen and (max-width: 305px){

		}
		@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
		}
</style>
<table align="center" border="0" cellpadding="0" cellspacing="0" class="forcer" style="font-family: 'Open Sans', Arial; min-width: 600px; background: #ffffff;" width="600">
	<tbody>
		<tr style="display: none;">
			<td bgcolor="#f7f7f7" class="top-letter-gap" height="20"> </td>
		</tr>
		<tr>
			<td class="tops" style="font-size: 9px; color : #b7b7b7; line-height: 15px; letter-spacing: 0.6px; text-align: center; padding-top: 15px; font-weight: 300; ">YesBoss dapat membelikan makanan, memesankan transportasi, membelikan tiket nonton & pulsa dan lainnya - gratis!</td>
		</tr>
		<tr>
			<td class="top-logo" style="line-height :0; height: 35px;"> </td>
		</tr>
		<tr style="">
			<td style="background: #ffffff; ">
			<table cellpadding="0" cellspacing="0" style="border-collapse: collapse; text-align: center; margin: 0 auto;">
				<tbody>
					<tr>
						<td class="logo-normal" style=" margin: 0 auto"><img alt="YesBossNow-Logo" class="logo-normal" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/ONGOING-NL/yesboss_logo_claim_color.png" style="width: 117px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td class="bottom-logo" style="line-height: 0; height: 45px;"> </td>
		</tr>
		<tr>
			<td class="line-short" style="text-align: center; padding: 0 50px;  width: 100%;">
			<table align="center" style="margin: 0 auto; margin-bottom: 30px; ">
				<tbody>
					<tr>
						<td style="margin: 0; padding: 0; width: 93px; border-bottom: 2px solid #D8D8D8; line-height: 2px; "> </td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td class="headers1" style="font-size: 35.63px; color: #545454; font-weight: 700; text-align: center; padding: 0 0 20px;">Thank you!</td>
		</tr>
		<tr>
			<td class="headers" style="font-size: 25px; font-weight: 300; padding: 0 80px 29px; text-align: center; color: #1F8EBA;">We have added you to the <strong>queue</strong>.</td>
		</tr>
		<tr style="">
			<td><img alt="" class="phone-img" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/ONGOING-NL/phone-animation_3-cases.gif" /></td>
		</tr>
		<tr style="">
			<td style="background: #ffffff; text-align: center;">
			<table cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
				<tbody>
					<tr>
						<td class="gap-header-1" style="height: 49px;"> </td>
					</tr>
					<tr>
						<td class="header-2" style="color: #626262; font-size: 16px; line-height: 27px; letter-spacing: 0; font-weight: 400; text-align: justify; padding: 0 50px 35px">
						<p style="text-align: center;">You will get your personal assistant in <strong>30 days</strong>.</p>

						<p style="text-align: center;"><strong>Interested in priority access?</strong> Get early access by referring to friends and make them apply YesBoss, too!</p>

						<p style="text-align: center;">Please note that <strong>you will only get early access if your friends also apply to get personal assistans</strong>!</p>

						<p style="text-align: center;">Share the link below:</p>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;">
						<table align="center" cellpadding="0" cellspacing="0" class="capsule" style="border-collapse: collapse; display: table; height: 51px; border-radius: 27px; background: #373737; margin: 0 auto;">
							<tbody>
								<tr>
									<td class="no-pad" style="width: 100%; padding: 0 17px;">
									<table align="center" cellpadding="0" cellspacing="0" class="capsule-wrapper" style="border-collapse: collapse; display: table;">
										<tbody>
											<tr>
												<td style=" box-sizing: border-box; display: table-cell; text-align: right; padding-top: 5px; margin: 0 0 0 auto;"><img alt="" class="link" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/ONGOING-NL/link-transp.png" style="width: 22.33px; " /></td>
												<td class="capsule-content" style=" display: table-cell; color: #ffffff; letter-spacing: 0.33px; font-size: 25px; width: 206px; padding-left: 15px; font-weight:700; text-decoration: none; color: "><a href="{{tester.referral_link}}" style="text-decoration: none; color: #ffffff;">{{tester.referral_link}}</a></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td class="process-wrap" style="padding: 35px 80px 20px; text-align: center;">Share via:</td>
					</tr>
					<tr>
						<td class="sharer-button" style="text-align: center; padding: 0 80px;">
						<table align="center" cellpadding="0" cellspacing="0" class="share-section" style="border-collapse: collapse;  margin: 0 auto;  width: 100%;"><!--width: 276px-->
							<tbody>
								<tr>
									<td style="background: #084C8C;">
									<table align="center" cellpadding="0" cellspacing="0" class="share-button" style="border-collapse: collapse; min-width: 146px; height: 32px; ">
										<tbody>
											<tr>
												<td style=" text-align: right; line-height: 0;"><a href="https://www.facebook.com/sharer/sharer.php?u=www.yesbossnow.com" style="text-decoration: none;" target="_blank"><img alt="facebook's Logo" class="share-img" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/ONGOING-NL/facebook.png" style="height: 16px; max-height: 16px;" /> </a></td>
												<td class="label" style="width: 65%; padding-left: 11px; text-align: left; font-size: 14.1px; font-weight: 600; color: #ffffff;"><a href="https://www.facebook.com/sharer/sharer.php?u=www.yesbossnow.com" style="text-decoration: none;" target="_blank">Share </a></td>
											</tr>
										</tbody>
									</table>
									</td>
									<td style="background: #02A6F5;">
									<table align="center" cellpadding="0" cellspacing="0" class="share-button" style="border-collapse: collapse; min-width: 146px; height: 32px; ">
										<tbody>
											<tr>
												<td style=" text-align: right; line-height: 0;"><a href="https://twitter.com/share?&amp;url=http://ysb.io&amp;text=Sibuk%3F+Asisten+pribadi+%40YesBossNow+bisa+mempermudah+hidup+Anda%2E+Daftar+sekarang+di" style="text-decoration: none;" target="_blank"><img alt="Twitter's Logo" class="share-img" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/ONGOING-NL/twitter.png" style="height: 16px; max-height: 16px;" /> </a></td>
												<td class="label" style="width: 65%; padding-left: 11px; text-align: left; font-size: 14.1px; font-weight: 600; color: #ffffff;"><a href="https://twitter.com/share?&amp;url=http://ysb.io&amp;text=Sibuk%3F+Asisten+pribadi+%40YesBossNow+bisa+mempermudah+hidup+Anda%2E+Daftar+sekarang+di" style="text-decoration: none;" target="_blank">Tweet </a></td>
											</tr>
										</tbody>
									</table>
									</td>
									<td style="background: #138C08;">
									<table align="center" cellpadding="0" cellspacing="0" class="share-button" style="border-collapse: collapse; min-width: 146px; height: 32px; ">
										<tbody>
											<tr>
												<td style=" text-align: right; line-height: 0;"><a href="whatsapp://send?text=Hey%21+My+life+just+got+easier%2C+thanks+to+YesBoss%2E+It%E2%80%99s+a+free+personal+assistant+via+SMS+http%3A%2F%2Fysb%2Eio" style="text-decoration: none;" target="_blank"><img alt="Whatsapp's Logo" class="share-img" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/ONGOING-NL/whatsapp.png" style="height: 16px; max-height: 16px;" /> </a></td>
												<td class="label" style="width: 65%; padding-left: 11px; text-align: left; font-size: 14.1px; font-weight: 600; color: #ffffff;"><a href="whatsapp://send?text=Hey%21+My+life+just+got+easier%2C+thanks+to+YesBoss%2E+It%E2%80%99s+a+free+personal+assistant+via+SMS+http%3A%2F%2Fysb%2Eio" style="text-decoration: none;" target="_blank">Text </a></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td class="gap" style="height: 83px; text-align: center; "><span style="color:#238ab6;"><strong><span style="font-size:16px;"><a class="why" style="color: #238ab6 !important;" href="http://blog.yesbossnow.com/mengapa-saya-harus-menunggu-untuk-mendapat-asisten-pribadi?utm_source=appnewsletter&utm_medium=email&utm_campaign=appdownload">Why do I need to be in the waitlist?</a></span></strong></span></td>
					</tr>
					<tr>
						<td class="thanks" style="padding: 0 50px; margin: 0 auto;">
						<table>
							<tbody>
								<tr>
									<td style="text-align: left; font-size: 17px; color: #626262; font-weight: 300;">With love,</td>
								</tr>
								<tr>
									<td style="text-align: left; font-size: 17px; color: #626262; font-weight: 700;">YesBoss Team</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td align="center" class="recommended" style="background: #ffffff;">
						<table align="center" cellpadding="0" cellspacing="0" class="forcer" style="background: #ffffff; border-collapse: collapse; width: 500px; ">
							<tbody>
								<tr>
									<td class="gap-2" style="line-height: 0; height: 97px;"> </td>
								</tr>
								<tr>
									<td class="rec-container" style="">
									<table cellpadding="0" cellspacing="0" class="forcer" style="border-collapse: collapse;">
										<tbody>
											<tr>
												<td class="rec-caption" rowspan="2" style="font-size: 15px; font-family: 'Open Sans', sans-serif, Arial; font-weight: 400; letter-spacing: 0.44px; line-height: 25.2px; color: #A9A9A9; width: 155px;">RECOMMENDED BY</td>
												<td class="rec-line" style="width: 68%;"> </td>
											</tr>
											<tr>
												<td style="border-top: 1px solid #E7E7E7"> </td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td class="rec-gap" style="height: 23px; line-height: 0;"> </td>
								</tr>
								<tr>
									<td class="hide " style="display: table-cell;"><a href="http://inet.detik.com/read/2015/09/08/115655/3013054/398/asisten-digital-agar-gak-tua-di-jalanan-jakarta" style="text-decoration: none;" target="_blank"><img alt="detik.com logo" class="hide" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/detik-com.png" style="width: 109.61px; display: inline-block; float: left; " /></a> <a href="http://www.cnnindonesia.com/teknologi/20150623175014-185-61925/yesboss-asisten-pribadi-digital-untuk-semua-kebutuhan/" style="text-decoration: none;" target="_blank"><img alt="cnn logo" class="hide" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/cnn.png" style="width: 52.1px; display: inline-block; float: left; margin-left:30px;" /></a> <a href="http://www.thejakartapost.com/news/2015/08/12/text-a-boss.html" style="text-decoration: none;" target="_blank"><img alt="jakarta-post logo" class="hide" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/jakarta-post.png" style="width: 119.76px; display: inline-block; float: left; margin-left:30px;" /></a> <a href="http://teknologi.metrotvnews.com/read/2015/07/10/145916/yesboss-tawarkan-asisten-pribadi-gratis" style="text-decoration: none;" target="_blank"><img alt="metro-tv logo" class="hide" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/metro-tv.png" style="width: 122px; display: inline-block; float: left; margin-left:30px;" /></a></td>
								</tr>
								<tr>
									<td class="tb-show" style="display: none; width: 0; text-align: center; padding-bottom: 12px;"><a href="http://inet.detik.com/read/2015/09/08/115655/3013054/398/asisten-digital-agar-gak-tua-di-jalanan-jakarta" style="text-decoration: none;" target="_blank"><img alt="detik.com logo" class="in-show a" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/detik-com.png" style="display: none; width: 109.61px; width: 0; " /></a> <a href="http://www.thejakartapost.com/news/2015/08/12/text-a-boss.html" style="text-decoration: none;" target="_blank"><img alt="jakarta-post logo" class="in-show b" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/jakarta-post.png" style="display: none; width: 119.76px; width: 0; margin-left:30px;" /></a></td>
								</tr>
								<tr>
									<td class="tb-show" style="display: none; width: 0; text-align: center;"><a href="http://www.cnnindonesia.com/teknologi/20150623175014-185-61925/yesboss-asisten-pribadi-digital-untuk-semua-kebutuhan/" style="text-decoration: none;" target="_blank"><img alt="cnn logo" class="in-show c" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/cnn.png" style="display: none; width: 52.1px; width: 0; margin-left:30px;" /></a> <a href="http://teknologi.metrotvnews.com/read/2015/07/10/145916/yesboss-tawarkan-asisten-pribadi-gratis" style="text-decoration: none;" target="_blank"><img alt="metro-tv logo" class="in-show d" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/INTRO/metro-tv.png" style="display: none; width: 122px; width: 0; margin-left:30px;" /></a></td>
								</tr>
								<tr>
									<td style="height: 28px; line-height: 0;"> </td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr style="">
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="footer forcer" style="height: 200px; width: 100%; max-width: 600px; background: #f7f7f7; box-sizing: border-box;">
							<tbody>
								<tr>
									<td>
									<table align="center" cellpadding="0" cellspacing="0" class="forcer" style=" text-align: center; width :100%;">
										<tbody>
											<tr>
												<td style="text-align: center;">
												<table cellpadding="0" cellspacing="0" class="footer-item-img" style="display: inline-block; width: 30px; ">
													<tbody>
														<tr>
															<td style="display: inline-block; "><a href="https://www.twitter.com/yesbossnow"><img alt="Twitter" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/YESBOSS+FOOTER+NEWSLETTER+Assets/Twitter.png" style=" height: 27px; max-height: 30px;" /></a></td>
														</tr>
													</tbody>
												</table>

												<table cellpadding="0" cellspacing="0" class="footer-item-img" style="display: inline-block; width: 30px; ">
													<tbody>
														<tr>
															<td style="display: inline-block; "><a href="https://facebook.com/yesbossnow"><img alt="Facebook" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/YESBOSS+FOOTER+NEWSLETTER+Assets/FB.png" style=" height: 27px; max-height: 30px;" /></a></td>
														</tr>
													</tbody>
												</table>

												<table cellpadding="0" cellspacing="0" class="footer-item-img" style="display: inline-block; width: 30px; ">
													<tbody>
														<tr>
															<td style="display: inline-block; "><a href="https://www.instagram.com/yesbossnow"><img alt="Instagram" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/YESBOSS+FOOTER+NEWSLETTER+Assets/IG.png" style=" height: 27px; max-height: 30px;" /></a></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>

									<table align="center" cellpadding="0" cellspacing="0" class="forcer" style="text-align: center; width :100%; color: #bababa; font-size: 11px; line-height: 19px;">
										<tbody>
											<tr>
												<td style="text-align: center; padding: 0;">
												<table cellpadding="0" cellspacing="0" class="forcer" style="width: 600px; border-collapse: collapse;">
													<tbody>
														<tr>
															<td style="text-align: center;">Made with Love in Indonesia</td>
														</tr>
														<tr>
															<td style="text-align: center;"><a href="{{tester.unsubscribe_link}}" style="color: #bababa; text-decoration: none;">I don't want special offer</a> | <a href="mailto:info@yesbossnow.com?subject=feedback" style="color: #bababa; text-decoration: none;">info@yesbossnow.com</a></td>
														</tr>
														<tr>
															<td style="text-align: center;">Kemang - Jakarta 12730 © 2016 YesBoss</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
