<title></title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:800,700,600,400,300" rel="stylesheet" type="text/css" />
<style type="text/css">@media only screen and (max-width: 500px){
		table{
			width:100% !important;
		}

}	@media only screen and (max-width: 500px){
		.headline{
			font-size:21px !important;
			font-weight:700 !important;
			text-align:center !important;
			line-height:30px !important;
		}

}	@media only screen and (max-width: 500px){
		.headline-sub{
			font-weight:600 !important;
			font-size:16px !important;
			line-height:26px !important;
		}

}	@media only screen and (max-width: 500px){
		.caption-box{
			text-align:center !important;
			margin-left:0 !important;
			padding-top:15px !important;
		}

}	@media only screen and (max-width: 500px){
		.gap{
			padding-top:10px !important;
		}

}	@media only screen and (max-width: 500px){
		.container{
			width:100% !important;
			min-width:0 !important;
		}

}	@media only screen and (max-width: 500px){
		.photo-display{
			width:60% !important;
		}

}	@media only screen and (max-width: 500px){
		.logo-gap{
			width:20px !important;
		}

}	@media only screen and (max-width: 500px){
		.logo-box{
			width:125px !important;
		}

}	@media only screen and (max-width: 500px){
		.logo-box img{
			padding:10px !important;
			width:100px !important;
		}

}	@media only screen and (max-width: 500px){
		.container-item{
			text-align:center !important;
		}

}	@media only screen and (max-width: 500px){
		.content-inner{
			padding:20px !important;
		}

}	@media only screen and (max-width: 500px){
		.responsive-show{
			display:table !important;
			width:100% !important;
		}

}	@media only screen and (max-width: 500px){
		.responsive-hide{
			display:none !important;
		}

}	@media only screen and (max-width: 500px){
		.fullwidth{
			width:100% !important;
		}

}	@media only screen and (max-width: 500px){
		.add-bottom{
			padding-bottom:25px !important;
		}

}	@media only screen and (max-width: 500px){
		.add-top{
			padding-top:25px !important;
		}

}	@media only screen and (max-width: 500px){
		.hero .hero2 .hero3{
			padding:0 !important;
		}

}	@media only screen and (max-width: 500px){
		.button-x{
			font-size:15px !important;
			height:45px !important;
		}

}	@media only screen and (max-width: 500px){
		.caption-button{
			line-height:0 !important;
			font-size:14px !important;
		}

}	@media only screen and (max-width: 500px){
		.gap-hero{
			height:65px !important;
		}

}	@media only screen and (max-width: 500px){
		.item-space{
			height:40px !important;
		}

}	@media only screen and (max-width: 500px){
		.small-mob{
			height:10px !important;
		}

}	@media only screen and (max-width: 500px){
		.footer-item-img{
			width:30px !important;
		}

}	@media only screen and (max-width: 500px){
		.referral-code{
			font-size:18.3px !important;
		}

}	@media only screen and (max-width: 500px){
		.referral-caption{
			padding:13px !important;
			line-height:22px !important;
			font-size:13px !important;
		}

}	@media only screen and (max-width: 500px){
		.referral-container{
			padding:5px 20px !important;
		}

}	@media only screen and (max-width: 500px){
		.unlink a{
			text-decoration:none !important;
			color:#bababa !important;
		}

}	@media only screen and (max-width: 500px){
		.number-container{
			padding:0 20px !important;
		}

}	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx){
		.logo-normal{
			width:111px !important;
		}

}	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx){
		.partner-normal{
			display:none;
		}

}	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx){
		.partner-retina{
			height:25px !important;
		}

}	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx){
		.logo-box{
			padding:10px !important;
		}

}	@media only screen and (max-width: 320px){
		table{
			width:100% !important;
		}

}	@media only screen and (max-width: 320px){
		.headline{
			font-size:17px !important;
			font-weight:400 !important;
			text-align:center !important;
			line-height:30px !important;
		}

}	@media only screen and (max-width: 320px){
		.phone-no{
			font-size:24px !important;
		}

}	@media only screen and (max-width: 320px){
		.logo-box img{
			padding:5px !important;
		}

}	@media only screen and (max-width: 320px){
		.referral-code{
			font-size:16px !important;
		}

}
</style>
<table align="center" bgcolor="#fafafa" border="0" cellpadding="0" cellspacing="0" style="font-family:  sans-serif; max-width: 600px;" width="100%">
	<tbody>
		<tr>
			<td align="center">
			<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="container" style="border-collapse: collapse; min-width: 600px;" width="600px">
				<tbody>
					<tr>
						<td>
						<table cellpadding="0" cellspacing="0" style="border-collapse: collapse;" width="100%">
							<tbody>
								<tr>
									<td>
									<table align="center" cellpadding="0" cellspacing="0" class="logo-box" style="border-collapse: collapse; margin: auto;">
										<tbody>
											<tr style="margin: auto;">
												<td align="center" style="padding-top: 42px; "><img alt="HeyKuya-Logo" class="logo-normal" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/greetings/heykuya%402x.png" style="margin: auto;" width="107px" /></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td style="line-height: 0; height: 25px;">&nbsp;</td>
					</tr>
					<tr>
						<td style="background: #3b5a9a; font-size: 46px; color: #ffffff; line-height: 87px; text-align: center; font-family: Montserrat, sans-serif, Arial;">
							Welcome to Law School!
						</td>
					</tr>
					<tr>
						<td class="content-inner" style="padding: 50px; margin:0;">
						<table align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
							<tbody>
								<tr>
									<td class="headline" style="text-align :center; font-family: sans-serif, Arial; font-size: 26px; color: #6085D0; font-weight: 100; letter-spacing: 1.29px; line-height: 40.29px;">It's going to be a tough one! But I'm here as your <b class="" style="font-weight: 600;">FREE</b> Personal Assistant!</td>
								</tr>
								<tr>
									<td class="headline-sub" style="text-align :center; font-family: 'Open Sans', sans-serif, Arial; font-size: 27px; color: #545454; letter-spacing: 1.48px; line-height: 47.29px;"><i><b>#TextOneThenDone</b></i></td>
								</tr>
								<tr>
									<td class="gap" style="padding-top: 72px;">&nbsp;</td>
								</tr>
								<tr>
									<td>
									<table>
										<tbody>
											<tr>
												<td class="container-item">
												<table style="vertical-align: middle; display: inline-block; ">
													<tbody>
														<tr>
															<td><img alt="Food Delivery" class="photo-display" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/greetings/food+delivery%402x.png" style="width: 172px;" /></td>
														</tr>
													</tbody>
												</table>
												<table class="caption-box" style="vertical-align: middle; display: inline-block; width: 265px; margin-left: 32px;">
													<tbody>
														<tr>
															<td>
															<table>
																<tbody>
																	<tr>
																		<td style="font-family: Montserrat, sans-serif, Arial; font-weight: 700; font-size: 18px; color: #08437A; letter-spacing: 0.52px; line-height: 25px;">INTENSE STUDY SESSION?</td>
																	</tr>
																	<tr>
																		<td style="font-family: 'Open Sans', sans-serif, Arial; font-weight: 200; font-size: 16px; color: #4B4B4B; letter-spacing: 0.47px; line-height: 24px;">Burned out from going through all those readings? Fuel up with coffee or a snack! <b style="font-weight: 700;">Kuya can deliver them no problem!</b></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
											<tr>
												<td style="height: 29px;">&nbsp;</td>
											</tr>
											<tr>
												<td class="container-item">
												<table style="vertical-align: middle; display: inline-block; ">
													<tbody>
														<tr>
															<td><img alt="Forgot Something" class="photo-display" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/greetings/forgot%402x.png" style="width: 172px;" /></td>
														</tr>
													</tbody>
												</table>
												<table class="caption-box" style="vertical-align: middle; display: inline-block; width: 265px; margin-left: 32px;">
													<tbody>
														<tr>
															<td>
															<table>
																<tbody>
																	<tr>
																		<td style="font-family: Montserrat, sans-serif, Arial; font-weight: 700; font-size: 18px; color: #08437A; letter-spacing: 0.52px; line-height: 25px;">NO TIME TO DO ERRANDS?</td>
																	</tr>
																	<tr>
																		<td style="font-family: 'Open Sans', sans-serif, Arial; font-weight: 200; font-size: 16px; color: #4B4B4B; letter-spacing: 0.47px; line-height: 24px;">No time to do your laundry? <b style="font-weight: 700;">Kuya can pick up and have them dry cleaned for you!</b></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
											<tr>
												<td style="height: 29px;">&nbsp;</td>
											</tr>
											<tr>
												<td class="container-item">
												<table style="vertical-align: middle; display: inline-block; ">
													<tbody>
														<tr>
															<td><img alt="Celebrating" class="photo-display" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/greetings/food+delivery+copy+2%402x.png" style="width: 172px;" /></td>
														</tr>
													</tbody>
												</table>
												<table class="caption-box" style="vertical-align: middle; display: inline-block; width: 265px; margin-left: 32px;">
													<tbody>
														<tr>
															<td>
															<table>
																<tbody>
																	<tr>
																		<td style="font-family: Montserrat, sans-serif, Arial; font-weight: 700; font-size: 18px; color: #08437A; letter-spacing: 0.52px; line-height: 25px;">ACED THAT EXAM?</td>
																	</tr>
																	<tr>
																		<td style="font-family: 'Open Sans', sans-serif, Arial; font-weight: 200; font-size: 16px; color: #4B4B4B; letter-spacing: 0.47px; line-height: 24px;">Time to celebrate then! Whether it's at a restaurant or a club, <b style="font-weight: 700;">Kuya can reserve you a table!</b></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td class="gap-hero" style="background: #fafafa; height: 54px;">&nbsp;</td>
					</tr>
					<tr>
						<td style="color: #3b5a9a; background: #fafafa; font-weight: 700; font-family: sans-serif, Arial; font-size: 36px; text-align: center;">
							Thank you for attending
						</td>
					</tr>
					<tr>
						<td style="color: #3b5a9a; background: #fafafa; font-weight: 700; font-family: sans-serif, Arial; font-size: 36px; text-align: center;">
							Ateneo Orsem!
						</td>
					</tr>
					<tr>
						<td style="text-align: center; background: #fafafa; color:#3c3c3c; font-size: 20px; line-height: 30px; padding: 20px;">We'll text you soon so you can enjoy these services and MORE! We're so excited to meet you!</em></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="footer" style="height: 200px; width: 100%; max-width: 600px; background: #fafafa; box-sizing: border-box;">
				<tbody>
					<tr>
						<td>
						<table align="center" class="footer-item" style=" text-align: center; width :100%;">
							<tbody>
								<tr>
									<td style="text-align: center;">
									<table class="footer-item-img" style="display: inline-block; width: 30px; ">
										<tbody>
											<tr>
												<td style="display: inline-block; "><a href="https://www.facebook.com/HeyKuya"><img alt="" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/footer/facebook+copy.png" style=" height: 27px; max-height: 30px;" /></a></td>
											</tr>
										</tbody>
									</table>
									<table class="footer-item-img" style="display: inline-block; width: 30px; ">
										<tbody>
											<tr>
												<td style="display: inline-block; "><a href="https://twitter.com/HeyKuya"><img alt="" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/footer/twitter+copy.png" style=" height: 27px; max-height: 30px;" /></a></td>
											</tr>
										</tbody>
									</table>
									<table class="footer-item-img" style="display: inline-block; width: 30px; ">
										<tbody>
											<tr>
												<td style="display: inline-block; "><a href="http://www.HeyKuya.com"><img alt="" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/footer/web+copy.png" style=" height: 27px; max-height: 30px;" /></a></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table align="center" class="footer-item" style="text-align: center; width :100%; color: #bababa; font-size: 11px; line-height: 19px;">
							<tbody>
								<tr>
									<td style="text-align: center;">
									<table cellpadding="0" cellspacing="0" style="width: 600px; border-collapse: collapse;">
										<tbody>
											<tr>
												<td style="text-align: center; color: #bababa;">Made with Love in The Philippines</td>
											</tr>
											<tr>
												<td style="text-align: center; color: #bababa;">Operational hours: <span class="unlink" style="color: #bababa;">8:30-20:00, Monday-Saturday</span></td>
											</tr>
											<tr>
												<td style="text-align: center;"><a href="http://www.HeyKuya.com" style="color: #bababa; text-decoration: none;">www.HeyKuya.com</a></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
