<style type="text/css">@media only screen and (max-width: 450px) {
  table {
    width: 100%;
  }

  .forcer{
  	min-width: 0 !important;
  	display: none !important;
  }

  .tbl-step {
    width: 300px;
    max-width: 100%;
  }

  .terima-kasih {
    font-size: 25px !important;
  }

  .container-text {
    font-size: 14px !important;
    padding: 0 20px;
  }

  .divider-line {
    width: 50px !important;
  }

  .divider-line td {
    height: 15px !important;
  }

  .divider-space, .summary-space {
    height: 15px !important;
  }

  .price {
    font-size: 25px !important;
  }

  .big-space {
    height: 25px !important;
  }

  .big-space2 {
    height: 45px !important;
  }

  .tbl-detail p {
    font-size: 13px !important;
  }

  .detail-space {
    height: 10px !important;
  }

  .order-summary {
    font-size: 20px !important;
  }

  .summary-table, .summary-info {
    font-size: 13px !important;
  }

  .summary-info {
    padding: 0 20px;
  }

  .summary-total {
    font-size: 14px !important;
  }

  .recommend {
    font-size: 18px !important;
    padding: 0 20px;
    line-height: 25px !important;
  }

  .big-image {
    width: 250px !important;
  }

  .big-image.image-retina {
    width: 250px !important;
  }

  .tbl-social table, .tbl-social table div {
    width: 100px !important;
    float: none;
    display: inline-block;
  }

  .tbl-social table div {
    height: 30px !important;
  }

  .tbl-social table img {
    height: 20px !important;
  }

  .social-space {
    height: 10 !important;
  }

  .tbl-partners table, .footer-social table {
    width: auto !important;
    float: none;
    display: inline-block;
  }

  .footer-social table img {
    height: 15px;
  }

  .footer-social, .footer-text {
    float: none;
    text-align: center;
  }

  .footer-social td {
    text-align: center !important;
  }

  .tbl-partners table td {
    padding-top: 5px !important;
  }

  .description {
    font-size: 13px !important;
    padding: 0 20px;
  }

  .invite {
    font-size: 17px !important;
    padding: 0 20px;
  }

  .sharelink {
    padding: 0 20px;
  }

  .sharelink-text {
    font-size: 20px !important;
    padding: 10px !important;
  }

  .sharelink-text {
    margin-right: 20px !important;
  }

  .sharelink-icon {
    width: 20px !important;
    margin-right: 10px !important;
    margin-left: 0 !important;
    margin-top: 5px !important;
  }

  .step {
    font-size: 13px !important;
  }
}

@media 	only screen and (-webkit-min-device-pixel-ratio: 2), 				only screen and ( min--moz-device-pixel-ratio: 2), 				only screen and ( -o-min-device-pixel-ratio: 2/1), 				 only screen and ( min-device-pixel-ratio: 2), 				 only screen and ( min-resolution: 192dpi), 				 only screen and ( min-resolution: 2dppx) {
  .logo-normal {
    display: none;
  }

  .logo-retina {
    width: 150px !important;
  }

  .partner-normal {
    display: none;
  }

  .partner-retina {
    height: 25px !important;
  }

  .image-normal {
    display: none;
  }

  .image-retina {
    width: 400px !important;
  }
}

body,p {
  font-family: sans-serif;
  color: #555555;
  line-height: 1.5em;
}

span.preheader {
  font-size: 12px;
  font-color: #C8C8C8;
  text-align: center;
}
</style>
<p style="text-align: center;"> </p>

<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="forcer" style="min-width: 600px;" width="600">
				<tbody>
					<tr>
						<td> </td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
				<tbody>
					<tr>
						<td align="center" style="padding:35px 0;"> <img class="logo-retina" src="https://heykuya.com/img/heykuya@2x.png" /></td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-container" width="600">
				<tbody>
					<tr>
						<td class="gap-hero" font-weight:bold="" style="background: #3b5a9a; height: 100px;style=">
						<p align="center" class="terima-kasih" style="font-weight:bold; font-size:46px;color:#ffffff;line-height:normal;">Welcome to Law School!</p>
						</td>
					</tr>
					<tr>
						<td align="center"> </td>
					</tr>
					<tr>
						<td align="center" class="recommend" style="font-size:28px; color:#6085D0; line-height: 40px;font-weight:100">It's going to be a tough one! But I'm here as your<strong> FREE</strong> Personal Assistant!<br />
						<b><i><span style="color:#545454;">#TextOneThenDone</span></i></b></td>
					</tr>
					<tr>
						<td class="gap" style="padding-top: 72px;"> </td>
					</tr>
					<tr>
						<td>
						<table>
							<tbody>
								<tr>
									<td> </td>
								</tr>
								<tr>
									<td class="container-item">
									<table style="vertical-align: middle; display: inline-block; ">
										<tbody>
											<tr>
												<td><img alt="Food Delivery" class="photo-display" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/greetings/food+delivery%402x.png" style="width: 172px;" /></td>
											</tr>
										</tbody>
									</table>

									<table class="caption-box" style="vertical-align: middle; display: inline-block; width: 265px; margin-left: 32px;">
										<tbody>
											<tr>
												<td>
												<table>
													<tbody>
														<tr>
															<td style="font-family: Montserrat, sans-serif, Arial; font-weight: 700; font-size: 17px; color: #08437A; letter-spacing: 0.52px; line-height: 25px;">INTENSE STUDY SESSION?</td>
														</tr>
														<tr>
															<td style="font-family: 'Open Sans', sans-serif, Arial; font-size: 15px; color: rgb(75, 75, 75); letter-spacing: 0.47px; line-height: 24px;"><span style="font-weight: 200;">Burned out from going through all those readings? Fuel up with coffee or a snack! </span><b>Kuya can deliver them no problem!</b></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td style="height: 29px;"> </td>
								</tr>
								<tr>
									<td class="container-item">
									<table style="vertical-align: middle; display: inline-block; ">
										<tbody>
											<tr>
												<td><img alt="Forgot Something" class="photo-display" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/greetings/forgot%402x.png" style="width: 172px;" /></td>
											</tr>
										</tbody>
									</table>
									<table class="caption-box" style="vertical-align: middle; display: inline-block; width: 265px; margin-left: 32px;">
										<tbody>
											<tr>
												<td>
												<table>
													<tbody>
														<tr>
															<td style="font-family: Montserrat, sans-serif, Arial; font-weight: 700; font-size: 17px; color: #08437A; letter-spacing: 0.52px; line-height: 25px;">NO TIME TO DO ERRANDS? </td>
														</tr>
														<tr>
															<td style="font-family: 'Open Sans', sans-serif, Arial; font-weight: 200; font-size: 15px; color: #4B4B4B; letter-spacing: 0.47px; line-height: 24px;">No time to do your laundry? <b style="font-weight: 700;">Kuya can pick up and have them dry cleaned for you! </b></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td style="height: 29px;"> </td>
								</tr>
								<tr>
									<td class="container-item">
									<table style="vertical-align: middle; display: inline-block; ">
										<tbody>
											<tr>
												<td><img alt="Celebrating" class="photo-display" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/greetings/food+delivery+copy+2%402x.png" style="width: 172px;" /></td>
											</tr>
										</tbody>
									</table>

									<table class="caption-box" style="vertical-align: middle; display: inline-block; width: 265px; margin-left: 32px;">
										<tbody>
											<tr>
												<td>
												<table>
													<tbody>
														<tr>
															<td style="font-family: Montserrat, sans-serif, Arial; font-weight: 700; font-size: 17px; color: #08437A; letter-spacing: 0.52px; line-height: 25px;">ACED THAT EXAM?</td>
														</tr>
														<tr>
															<td style="font-family: 'Open Sans', sans-serif, Arial; font-size: 15px; color: rgb(75, 75, 75); letter-spacing: 0.47px; line-height: 24px;"><span style="font-weight: 200;">Time to celebrate then! </span>Whether it's at a restaurant or a club,<b> Kuya can reserve you a table!</b></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td class="gap-hero" style="background: #ffffff; height: 54px;"> </td>
		</tr>
	</tbody>
</table>

<p> </p>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="footer" style="height: 200px; width: 100%; max-width: 600px; background: #fafafa; box-sizing: border-box;">
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:36px;color:#3b5a9a;"><strong>Thank you for attending </strong></span></p>

			<p style="text-align: center;"><span style="font-size:36px;color:#3b5a9a;"><strong>Ateneo Orsem! </strong></span></p>

			<table align="center" class="footer-item" style="text-align: center; width :100%; color: #bababa; font-size: 11px; line-height: 19px;">
				<tbody>
					<tr>
						<td style="text-align: center;">
						<table cellpadding="0" cellspacing="0" style="width: 600px; border-collapse: collapse;">
							<tbody>
								<tr>
									<td style="text-align: center;">
									<p><span style="font-size:20px;color:#3c3c3c;">We'll text you soon so you can enjoy these services and <strong>MORE</strong>! </span></p>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;"><span style="font-size:20px;color:#3c3c3c;">We're so excited to meet you!</span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="footer" style="height: 200px; width: 100%; max-width: 600px; background: #fafafa; box-sizing: border-box;">
	<tbody>
		<tr>
			<td>
			<table align="center" class="footer-item" style=" text-align: center; width :100%;">
				<tbody>
					<tr>
						<td style="text-align: center;">
						<table class="footer-item-img" style="display: inline-block; width: 30px; ">
							<tbody>
								<tr>
									<td style="display: inline-block; "><a href="https://www.facebook.com/HeyKuya"><img alt="" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/footer/facebook+copy.png" style=" height: 27px; max-height: 30px;" /></a></td>
								</tr>
							</tbody>
						</table>

						<table class="footer-item-img" style="display: inline-block; width: 30px; ">
							<tbody>
								<tr>
									<td style="display: inline-block; "><a href="https://twitter.com/HeyKuya"><img alt="" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/footer/twitter+copy.png" style=" height: 27px; max-height: 30px;" /></a></td>
								</tr>
							</tbody>
						</table>

						<table class="footer-item-img" style="display: inline-block; width: 30px; ">
							<tbody>
								<tr>
									<td style="display: inline-block; "><a href="http://www.HeyKuya.com"><img alt="" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK-newsletter/footer/web+copy.png" style=" height: 27px; max-height: 30px;" /></a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>

			<table align="center" class="footer-item" style="text-align: center; width :100%; color: #bababa; font-size: 11px; line-height: 19px;">
				<tbody>
					<tr>
						<td style="text-align: center;">
						<table cellpadding="0" cellspacing="0" style="width: 600px; border-collapse: collapse;">
							<tbody>
								<tr>
									<td style="text-align: center;">Made with Love in The Philippines</td>
								</tr>
								<tr>
									<td style="text-align: center;"><a href="*|UNSUB|*" style="color: #bababa; text-decoration: none;">I don't want special offer</a> | <a href="mailto:hello@heykuya.com?subject=feedback" style="color: #bababa; text-decoration: none;"> hello@heykuya.com</a></td>
								</tr>
								<tr>
									<td style="text-align: center; color: #bababa;">Operational hours: 9:00-20:00 (Mon-Fri), 10:30-19:30 (Sat)</td>
								</tr>
								<tr>
									<td style="text-align: center;"><a href="http://www.HeyKuya.com" style="color: #bababa; text-decoration: none;">www.HeyKuya.com</a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
