<style type="text/css">@media only screen and (max-width: 450px) {
  table {
    width: 100%;
  }

  .forcer{
  	min-width: 0 !important;
  	display: none !important;
  }

  .tbl-step {
    width: 300px;
    max-width: 100%;
  }

  .terima-kasih {
    font-size: 25px !important;
  }

  .container-text {
    font-size: 14px !important;
    padding: 0 20px;
  }

  .divider-line {
    width: 50px !important;
  }

  .divider-line td {
    height: 15px !important;
  }

  .divider-space, .summary-space {
    height: 15px !important;
  }

  .price {
    font-size: 25px !important;
  }

  .big-space {
    height: 25px !important;
  }

  .big-space2 {
    height: 45px !important;
  }

  .tbl-detail p {
    font-size: 13px !important;
  }

  .detail-space {
    height: 10px !important;
  }

  .order-summary {
    font-size: 20px !important;
  }

  .summary-table, .summary-info {
    font-size: 13px !important;
  }

  .summary-info {
    padding: 0 20px;
  }

  .summary-total {
    font-size: 14px !important;
  }

  .recommend {
    font-size: 18px !important;
    padding: 0 20px;
    line-height: 25px !important;
  }

  .big-image {
    width: 250px !important;
  }

  .big-image.image-retina {
    width: 250px !important;
  }




  .tbl-socials table div {
    height: 30px !important;
  }

  .tbl-socials table img {
    height: 20px !important;
  }

  .social-space {
    height: 10 !important;
  }

  .tbl-partners table, .footer-social table {
    width: auto !important;
    float: none;
    display: inline-block;
  }

  .footer-social table img {
    height: 15px;
  }

  .footer-social, .footer-text {
    float: none;
    text-align: center;
  }

  .footer-social td {
    text-align: center !important;
  }

  .tbl-partners table td {
    padding-top: 5px !important;
  }

  .description {
    font-size: 13px !important;
    padding: 0 20px;
  }

  .invite {
    font-size: 17px !important;
    padding: 0 20px;
  }

  .sharelink {
    padding: 0 20px;
  }

  .sharelink-text {
    font-size: 20px !important;
    padding: 10px !important;
  }

  .sharelink-text {
    margin-right: 20px !important;
  }

  .sharelink-icon {
    width: 20px !important;
    margin-right: 10px !important;
    margin-left: 0 !important;
    margin-top: 5px !important;
  }

  .step {
    font-size: 13px !important;
  }

  /* Class that used for adding
  /*
  .tbl-socials table, .tbl-socials table div {
  width: 100px !important;
  float: none;
  display: inline-block;
  }*/

  .tbl-socials table, .tbl-socials table div {
    width: 95% !important;
    float: none;
  }
  .rounded {
    border-radius: 5px !important;
  }

}

@media 	only screen and (-webkit-min-device-pixel-ratio: 2), 				only screen and ( min--moz-device-pixel-ratio: 2), 				only screen and ( -o-min-device-pixel-ratio: 2/1), 				 only screen and ( min-device-pixel-ratio: 2), 				 only screen and ( min-resolution: 192dpi), 				 only screen and ( min-resolution: 2dppx) {
  .logo-normal {
    display: none;
  }

  .logo-retina {
    width: 150px !important;
  }

  .partner-normal {
    display: none;
  }

  .partner-retina {
    height: 25px !important;
  }

  .image-normal {
    display: none;
  }

  .image-retina {
    width: 400px !important;
  }
}

body,p {
  font-family: sans-serif;
  color: #555555;
  line-height: 1.5em;
}

span.preheader {
  font-size: 12px;
  font-color: #C8C8C8;
  text-align: center;
}
</style>
<p style="text-align: center;"><span class="preheader" style="width:100%; text-align:center;line-height:1.5em;font-size:10px;font-color:#C8C8C8;color:#C8C8C8;">I can order food, book flights and hotels or organise deliveries for you - for free! Let me be your personal assistant? </span></p>

<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="forcer" style="min-width: 600px;" width="600">
				<tbody>
					<tr>
						<td> </td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
				<tbody>
					<tr>
						<td align="center" style="padding:35px 0;"><img class="logo-normal" src="https://dl.dropboxusercontent.com/u/44310768/heykuya-logo%402x.png" width="130" /> <img class="logo-retina" src="https://dl.dropboxusercontent.com/u/44310768/heykuya-logo%402x.png" width="0" /></td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-container" width="600">
				<tbody>
					<tr>
						<td align="center" class="terima-kasih" style="font-weight:bold; font-size:46px;color:#545454;line-height:normal;">Hey there!</td>
					</tr>
					<tr>
						<td align="center">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider-line" width="75">
							<tbody>
								<tr>
									<td height="20" style="border-bottom: 1px solid #E0E0E0;" width="75"> </td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td class="divider-space" height="20"> </td>
					</tr>
					<tr>
						<td align="center" class="recommend" style="font-size:28px; color:#6085D0; line-height: 40px;font-weight:100">I will be <b>soon ready</b> to help you with all your daily needs. I can <b>order food, book flights and hotels </b>or <b>organise deliveries </b>for you.<br />
						<b><i><span style="color:#545454;">Text one, then done!</span></i></b></td>
					</tr>
					<tr>
						<td class="big-space" height="50"> </td>
					</tr>
					<tr>
						<td align="center">
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="450">
							<tbody>
								<tr>
									<td align="center" style="font-size: 0;line-height: normal;"><img class="big-image image-normal" src="https://dl.dropboxusercontent.com/u/44310768/iphone%402x.png" width="400" /> <img class="big-image image-retina" src="https://dl.dropboxusercontent.com/u/44310768/iphone%402x.png" width="0" /></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td style="border-top: 1px solid #E0E0E0;">
						<table align="center" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td class="description" style="font-size: 15px; color: #555; line-height: 19px;padding-top: 25px;">
									<table align="left" border="0" cellpadding="0" cellspacing="0" width="600">
										<tbody>
											<tr>
												<td align="left" valign="top">
												<p align="center" style="font-size:18px; padding-left:20px;padding-right:20px">Right now <b><span style="font-size:18px;color:#6085D0; ">{{tester.waitlist_length}}</span></b> are in front of you waiting for me.<br />
												<br />
												Please give me some time to get back to you. <b>You don't want to wait?</b> Just invite up to 3 friends and <b>jump right to the top</b> of my waiting list!</p>
												</td>
											</tr>
											<tr>
												<td align="center">
												<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider-line" width="75">
													<tbody>
														<tr>
															<td height="20" style="border-bottom: 1px solid #E0E0E0;" width="75"> </td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td class="big-space" height="50"> </td>
					</tr>
					<tr>
						<td align="center" class="invite" style="font-size: 20px;"><b style="color:#6085D0; ">Your personal invite link:</b></td>
					</tr>
					<tr>
						<td class="big-space" height="15"> </td>
					</tr>
					<tr>
						<td align="center" class="sharelink">
						<table align="center" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="center" class="sharelink-text" style="font-size: 22px; background: #373737; padding: 15px; border-radius: 50px; position: relative;"><img class="sharelink-icon" src="https://yesbossnow.com/img/link.png" style="margin-right: 30px;margin-left: 20px;margin-top: 5px; vertical-align: middle;" width="25" /> <a class="sharelink-text" href="{{tester.referral_link}}" style="color: #FFFFFF; text-decoration: none; margin-right: 30px;line-height:normal; vertical-align: middle;">{{tester.referral_link}}</a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td class="social-space" height="35"> </td>
					</tr>
					<tr>
						<td align="center">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-step" width="450">
							<tbody>
								<tr>
									<td align="left" class="step" style="font-size: 16px; color: #7C7C7C;"><b>1. Signup</b> <img src="https://yesbossnow.com/img/check.png" /></td>
									<td align="center" class="step" style="font-size: 16px; color: #7C7C7C; opacity: .7;">2. Invite Friends</td>
									<td align="right" class="step" style="font-size: 16px; color: #7C7C7C; opacity: .7;">3. Fast Access</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
      <!-- Default button start here -->
          <tr>
						<td>
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="450">
							<tbody>
								<tr>
									<td align="center" style="font-size: 0;">

									<table align="left" border="0" cellpadding="0" cellspacing="0" width="150">
										<tbody>
											<tr>
												<td align="center" style="padding-top:10px;" valign="middle" width="103">
												<div style="width:100%;height:35px;background:#55ACEE;padding-top:10px;padding-right: 0 !important;"><a href="https://twitter.com/share?&amp;url={{tester.referral_link}}&amp;text=Try%20HeyKuya,%20your%20free%20personal%20assistant%20who%20helps%20you%20to%20order%20food,%20get%20tickets,%20or%20book%20you%20travel.%20%23HeyKuya" target="_blank"><img alt="Twitter" height="25" src="https://lh3.googleusercontent.com/-Eoq3nlrNLhU/VjQkeNAZlmI/AAAAAAAAAFQ/a8w75PeHn18/s30-Ic42/fa-twitter_30_0_ffffff_none.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none;" /></a></div>
												</td>
											</tr>
										</tbody>
									</table>

									<table align="left" border="0" cellpadding="0" cellspacing="0" width="150">
										<tbody>
											<tr>
												<td align="center" style="padding-top:10px;" valign="middle" width="103">
												<div style="width:100%;height:35px;background:#3B5998;padding-top:10px;padding-right: 0 !important;"><a href="https://www.facebook.com/sharer.php?u={{tester.referral_link}}&amp;t=Try%20HeyKuya%2C%20your%20free%20personal%20assistant%20to%20ease%20your%20life%21" target="_blank"><img alt="Facebook" height="25" src="https://lh3.googleusercontent.com/-qi409xcXp6c/VjQkdyNejII/AAAAAAAAAFI/9YwGnbFTPh8/s30-Ic42/fa-facebook_30_0_ffffff_none.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none;" /></a></div>
												</td>
											</tr>
										</tbody>
									</table>

									<table align="left" border="0" cellpadding="0" cellspacing="0" width="150">
										<tbody>
											<tr>
												<td align="center" style="padding-top:10px;" valign="middle" width="103">
												<div style="width:100%;height:35px;background:#29B200;padding-top:10px;padding-right: 0 !important;"><a data-action="share/whatsapp/share" href="whatsapp://send?text=Hi!%20Do%20you%20know%20HeyKuya?%20It's%20a%20free%20personal%20assistant%20via%20SMS%20who%20makes%20my%20life%20easier.%20{{tester.referral_link}}"><img alt="Whatsapp" height="25" src="https://lh3.googleusercontent.com/-qloG7vk-3jQ/VjQkei8Y4JI/AAAAAAAAAFU/lBmXgM08lOY/s30-Ic42/fa-whatsapp_30_0_ffffff_none.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none;" /></a></div>
												</td>
											</tr>
										</tbody>
									</table>

                  <table>
                    <tr>
                      <td class="big-space2" height="40px">
                        &nbsp;
                      </td>
                    </tr>
                  </table>
                  <!-- End off default button -->

                  <!-- #### FACEBOOK &  WHATSAPP START ### -->
          <tr class="double social-button fb_wa">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#3B5998;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px 0 0 9px;">
                                <a style="text-decoration: none;" href="https://www.facebook.com/sharer.php?u={{tester.referral_link}}&amp;t=Try%20HeyKuya%2C%20your%20free%20personal%20assistant%20to%20ease%20your%20life%21" target="_blank">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px">
                                        <img align="center" alt="Facebook" height="25" src="https://lh3.googleusercontent.com/-qi409xcXp6c/VjQkdyNejII/AAAAAAAAAFI/9YwGnbFTPh8/s30-Ic42/fa-facebook_30_0_ffffff_none.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"/>
                                      </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;">
                                        <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">
                                          Share on Facebook
                                        </span>
                                      </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#29B200; padding-top:14px;box-sizing: border-box; padding-right: 0 !important; border-radius: 0 9px 9px 0;">
                                <a style="text-decoration: none;" data-action="share/whatsapp/share" href="whatsapp://send?text=Hi!%20Do%20you%20know%20HeyKuya?%20It's%20a%20free%20personal%20assistant%20via%20SMS%20who%20makes%20my%20life%20easier.%20{{tester.referral_link}}">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px">
                                        <img align="center" alt="WhatsApp" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/whatsapp.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"/>
                                      </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;">
                                        <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">
                                          Send in WhatsApp
                                        </span>
                                      </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- #### FACEBOOK &  WHATSAPP END ### -->

          <!-- #### FACEBOOK & TWITTER START ### -->
          <tr class="double social-button fb_tw">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#3B5998;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px 0 0 9px;">
                                <a style="text-decoration: none;" href="https://www.facebook.com/sharer.php?u={{tester.referral_link}}&amp;t=Try%20HeyKuya%2C%20your%20free%20personal%20assistant%20to%20ease%20your%20life%21" target="_blank">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="Facebook" height="25" src="https://lh3.googleusercontent.com/-qi409xcXp6c/VjQkdyNejII/AAAAAAAAAFI/9YwGnbFTPh8/s30-Ic42/fa-facebook_30_0_ffffff_none.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;" />
                                      </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;">
                                        <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">
                                        Share on Facebook
                                        </span>
                                      </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#55ACEE; padding-top:14px;box-sizing: border-box; padding-right: 0 !important; border-radius: 0 9px 9px 0;">
                                <a style="text-decoration: none;" href="https://twitter.com/share?&amp;url={{tester.referral_link}}&amp;text=Try%20HeyKuya,%20your%20free%20personal%20assistant%20who%20helps%20you%20to%20order%20food,%20get%20tickets,%20or%20book%20you%20travel.%20%23HeyKuya" target="_blank">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px">
                                        <img align="center" alt="WhatsApp" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/twitter.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"/>
                                      </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;">
                                        <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">
                                        Share on Twitter
                                        </span>
                                      </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- #### FACEBOOK & TWITTER END ### -->


          <!-- #### VIBER &  WHATSAPP START ### -->
          <tr class="double social-button vi_wa">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#7B519C;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px 0 0 9px;">
                                <a style="text-decoration: none;" data-action="share/viber/share" href="viber://send?text=Hi!%20Do%20you%20know%20HeyKuya?%20It's%20a%20free%20personal%20assistant%20via%20SMS%20who%20makes%20my%20life%20easier.%20{{tester.referral_link}}">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="Viber" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/viber.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"/>
                                      </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">
                                        Share in Viber
                                      </span>
                                    </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#29B200; padding-top:14px;box-sizing: border-box; padding-right: 0 !important; border-radius: 0 9px 9px 0;">
                                <a style="text-decoration: none;" data-action="share/whatsapp/share" href="whatsapp://send?text=Hi!%20Do%20you%20know%20HeyKuya?%20It's%20a%20free%20personal%20assistant%20via%20SMS%20who%20makes%20my%20life%20easier.%20{{tester.referral_link}}">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="WhatsApp" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/whatsapp.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;" /> </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;">
                                        <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">
                                        Send in WhatsApp
                                        </span>
                                      </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- #### VIBER &  WHATSAPP END ### -->


          <!-- #### FACEBOOK & VIBER START ### -->
          <tr class="double social-button fb_vi">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#3B5998;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px 0 0 9px;">
                                <a style="text-decoration: none;" href="https://www.facebook.com/sharer.php?u={{tester.referral_link}}&amp;t=Try%20HeyKuya%2C%20your%20free%20personal%20assistant%20to%20ease%20your%20life%21" target="_blank">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="Viber" height="25" src="https://lh3.googleusercontent.com/-qi409xcXp6c/VjQkdyNejII/AAAAAAAAAFI/9YwGnbFTPh8/s30-Ic42/fa-facebook_30_0_ffffff_none.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"
                                        /> </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">                                      Share on Facebook                                    </span>                                          </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#7B519C; padding-top:14px;box-sizing: border-box; padding-right: 0 !important; border-radius: 0 9px 9px 0;">
                                <a style="text-decoration: none;" data-action="share/viber/share" href="viber://send?text=Hi!%20Do%20you%20know%20HeyKuya?%20It's%20a%20free%20personal%20assistant%20via%20SMS%20who%20makes%20my%20life%20easier.%20{{tester.referral_link}}">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="WhatsApp" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/viber.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"
                                        /> </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">                                      Share in Viber                                    </span>                                          </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- #### FACEBOOK & VIBER END ### -->


          <!-- #### TWITTER & VIBER START ### -->
          <tr class="double social-button tw_vi">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#55ACEE;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px 0 0 9px;">
                                <a style="text-decoration: none;" href="https://twitter.com/share?&amp;url={{tester.referral_link}}&amp;text=Try%20HeyKuya,%20your%20free%20personal%20assistant%20who%20helps%20you%20to%20order%20food,%20get%20tickets,%20or%20book%20you%20travel.%20%23HeyKuya" target="_blank">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="Viber" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/twitter.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"
                                        /> </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">                                      Share on Twitter                                    </span>                                          </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="50%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="474px">
                              <div class="rounded" style="width:100%;height:50px;background:#7B519C; padding-top:14px;box-sizing: border-box; padding-right: 0 !important; border-radius: 0 9px 9px 0;">
                                <a style="text-decoration: none;" data-action="share/viber/share" href="viber://send?text=Hi!%20Do%20you%20know%20HeyKuya?%20It's%20a%20free%20personal%20assistant%20via%20SMS%20who%20makes%20my%20life%20easier.%20{{tester.referral_link}}">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="WhatsApp" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/viber.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"
                                        /> </td>
                                      <td class="button-label-half" style="width: 200px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">                                      Share in Viber                                    </span>                                          </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- #### TWITTER & VIBER END ### -->


          <!-- #### TWITTER START ### -->
          <tr class="single social-button tw">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#55ACEE;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px;">
                                <a style="text-decoration: none;" href="https://twitter.com/share?&amp;url={{tester.referral_link}}&amp;text=Try%20HeyKuya,%20your%20free%20personal%20assistant%20who%20helps%20you%20to%20order%20food,%20get%20tickets,%20or%20book%20you%20travel.%20%23HeyKuya" target="_blank">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px">
                                        <img align="center" alt="Viber" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/twitter.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"/>
                                      </td>
                                      <td class="button-label-half" style="width: 474px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">                                      Share on Twitter                                    </span>                                          </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- Next to another button -->
          <tr class="single social-button vi">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#7B519C;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px;">
                                <a style="text-decoration: none;" data-action="share/viber/share" href="viber://send?text=Hi!%20Do%20you%20know%20HeyKuya?%20It's%20a%20free%20personal%20assistant%20via%20SMS%20who%20makes%20my%20life%20easier.%20{{tester.referral_link}}">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="Viber" height="25" src="https://s3-ap-southeast-1.amazonaws.com/yesboss-newsletter/HK+button+snippet/viber.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"
                                        /> </td>
                                      <td class="button-label-half" style="width: 474px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">                                      Share in Viber                                    </span>                                          </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- #### TWITTER END ### -->


          <!-- #### FACEBOOK START ### -->
          <tr class="single social-button fb">
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbl-socials" width="550" style="font-family: Helvetica,sans-serif,arial;">
                <tbody>
                  <tr>
                    <td align="center" style="font-size: 0;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td align="center" style="padding-top:10px;" valign="middle" width="100%">
                              <div class="rounded" style="width:100%;height:50px;background:#3B5998;padding-top:14px;box-sizing: border-box;padding-right: 0 !important; border-radius: 9px;">
                                <a style="text-decoration: none;" href="https://www.facebook.com/sharer.php?u={{tester.referral_link}}&amp;t=Try%20HeyKuya%2C%20your%20free%20personal%20assistant%20to%20ease%20your%20life%21" target="_blank">
                                  <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td style="width: 30px"> <img align="center" alt="Viber" height="25" src="https://lh3.googleusercontent.com/-qi409xcXp6c/VjQkdyNejII/AAAAAAAAAFI/9YwGnbFTPh8/s30-Ic42/fa-facebook_30_0_ffffff_none.png" style="color:#ffffff;font-size: 13px;border:none;border-style: none; vertical-align: text-bottom;"
                                        /> </td>
                                      <td class="button-label-half" style="width: 474px; text-align: center;"> <span class="" style="font-size: 15.3px; font-weight: 300; color: #ffffff; text-align: right; vertical-align: text-bottom; padding: 0 32px">                                      Share on Facebook                                    </span>                                          </td>
                                    </tr>
                                  </table>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- #### FACEBOOK END ### -->


									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td class="big-space2" height="85"> </td>
					</tr>
					<tr>
						<td height="10" style="border-bottom: 1px solid #E0E0E0;"> </td>
					</tr>


					<!-- <tr>
						<td>
						<table align="center" bgcolor="#f1f1f1" border="0" cellpadding="0" cellspacing="0" width="600">
							<tbody>
								<tr>
									<td width="20">
									<div> </div>
									</td>
									<td>
									<table align="left" border="0" cellpadding="0" cellspacing="0" class="footer-text" width="250">
										<tbody>
											<tr>
												<td height="10"> </td>
											</tr>
											<tr>
												<td style="font-size:12px;color:#555555">Made with love in The Philippines<br />
												HeyKuya - hello@heykuya.com</td>
											</tr>
										</tbody>
									</table>

									<table align="left" border="0" cellpadding="0" cellspacing="0" width="210">
										<tbody>
											<tr>
												<td height="1" width="210">
												<div> </div>
												</td>
											</tr>
										</tbody>
									</table>

									<table align="left" border="0" cellpadding="0" cellspacing="0" class="footer-social" width="100">
										<tbody>
											<tr>
												<td height="10"> </td>
											</tr>
											<tr>
												<td align="left">
												<table align="left" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td align="center" valign="middle"><a href="https://twitter.com/heykuya"><img height="20" src="https://lh3.googleusercontent.com/-Hlu0GRmRRQw/VjRPbFDIDKI/AAAAAAAAAG8/SCIcTZadVAg/h120/fa-twitter_30_0_a2a2a2_none.png" /></a></td>
														</tr>
													</tbody>
												</table>

												<table align="left" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td align="center" style="padding-left:15px;" valign="middle"><a href="https://www.facebook.com/heykuya"><img height="20" src="https://lh3.googleusercontent.com/-ZTRwo8IxNoA/VjRPa7KcdxI/AAAAAAAAAG4/DQojPfnyHmI/h120/fa-facebook_30_0_a2a2a2_none.png" /></a></td>
														</tr>
													</tbody>
												</table>

												<table align="left" border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td align="center" style="padding-left:15px;" valign="middle"><a href="https://instagram.com/heykuyaph/"><img height="20" src="https://lh3.googleusercontent.com/-woaeiC6yIwk/VjRPagA2S1I/AAAAAAAAAGw/jRXTUOatGR4/h120/fa-instagram_30_0_a2a2a2_none.png" /></a></td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
									<td width="20">
									<div> </div>
									</td>
								</tr>
								<tr>
									<td class="big-space" height="50"> </td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr> -->
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>



<div class="gmail_quote">---------- Forwarded message ----------<br>From: <b class="gmail_sendername">Uber</b> <span dir="ltr">&lt;<a href="mailto:no-reply@uber.com" target="_blank">no-reply@uber.com</a>&gt;</span><br>Date: Thu, Dec 31, 2015 at 7:37 AM<br>Subject: When the clock strikes 12...<br>To: <a href="mailto:gulfikar@yesbossnow.com" target="_blank">gulfikar@yesbossnow.com</a><br><br><br><u></u>










<div bgcolor="#000000" style="background-color:#000000;margin:0;min-width:100%;padding:0;width:100%">



<div style="font-size:1px;display:none!important"></div>




























<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#000000;border:none;border-collapse:collapse;border-spacing:0;margin:auto" bgcolor="#000000">
  <tbody><tr>
    <td align="center"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;margin:auto;text-align:center" align="center">
        <tbody><tr>
          <td align="center" style="padding:30px 0"><span style="display:inline-block;margin:0;vertical-align:top"> <img src="https://ci3.googleusercontent.com/proxy/svexijoSxk9J5MJIu-zRICr2tHWrcQ2xjVZa5GYNch_EOtNgpZqslSsb5PFQtIFVMoyYWzQQzaHEZSVL73Uu5K9qIvZHloic-n8DuhOKwAjkRnRnBC_GqhctDeuuqg=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/09/090115_whitelogo.png" style="clear:both;color:#ffffff;display:block;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:bold;min-height:19px;max-width:100%;outline:none;text-decoration:none;width:auto" alt="UBER" width="125" height="19" class="CToWUd"> </span></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0">
              <tbody><tr>
                <td align="center">

                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#151525;border:none;border-collapse:collapse;border-spacing:0">
                    <tbody><tr>
                      <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse;border-spacing:0">
                          <tbody><tr>
                            <td align="center">


                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:700px">
                                <tbody><tr>
                                  <td valign="top" align="center" style="background-color:#151525">

                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                                      <tbody><tr>
                                        <td align="center" style="padding:0 0px"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:700px">
                                            <tbody><tr>
                                              <td align="center" style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:30px;line-height:36px;padding:50px 10px">Plan your grand exit</td>
                                            </tr>
                                            <tr>
                                              <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse">
                                                  <tbody><tr>
                                                    <td align="center">


                                                <img src="https://ci3.googleusercontent.com/proxy/HoSxOY_WRaTYZsbDjXKhkzv_2_Jj2o1GRSh_RniHhnP0oQF0RoI9_AnRmhtDjP0LF5xL-50db6tGrvyoo6Pz5T3_KFeYIc4yWb2gVLvjMkMmKP45FG5A9BmKKZEuyNTRmVL7tPuuE8Lo7pX2_OEsAte1hOe7fQ=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/12/HQ_NYE-all-rider-email_header_700x400_r2.gif" width="700" height="" border="0" style="display:block;width:100%;min-height:auto;max-width:700px;max-height:400px" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 515px; top: 800px;"><div id=":m9" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>






                                                    </td>
                                                  </tr>
                                                </tbody></table></td>
                                            </tr>
                                            <tr>
                                              <td align="center">

                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:570px">
                                                  <tbody><tr>
                                                    <td style="color:#cdcdd3;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding:25px 20px 50px" align="center">One good year deserves another, so let’s start this one off right. Follow these tips to make sure your New Year’s Eve is full of only good surprises.</td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
<tr>
                                              <td>

                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                                                  <tbody><tr>
                                                    <td align="center" style="padding:0 14px 0 14px">

                                                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:660px">
                                                        <tbody><tr>
                                                          <td style="padding:0px 0 30px"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                                                              <tbody><tr>
                                                                <td height="2" style="font-size:0px;line-height:0px;background:#3a3a48">&nbsp;</td>
                                                              </tr>
                                                            </tbody></table></td>
                                                        </tr>
                                                      </tbody></table>

                                                      </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
                                            <tr>
                                              <td align="center">

                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:509px">
                                                  <tbody><tr>
                                                    <td style="padding:15px 15px" align="center">


                                                    <img src="https://ci4.googleusercontent.com/proxy/Dg5OS7KmQQWePq3YyuCUx7AUSSHAOX8oPbVK4Y_Js76BfF7HluZaEymgZ17NuZHcHGPCmNT8Hn_QAYPmuOuKLrqDBYzskZgMMNxUZ4o9Riz5p6Ar4yFj9j5p8g=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/12/122115_graph2.png" width="100%" height="auto" style="border:none;clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto" alt="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 465px; top: 1141px;"><div id=":l4" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>



                                                    </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
                                            <tr>
                                              <td style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:30px;line-height:36px;padding-bottom:30px;padding-top:30px" align="center">The busy hours</td>
                                            </tr>
                                            <tr>
                                              <td align="center">

                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:504px" align="center">
                                                  <tbody><tr>
                                                    <td style="text-align:center;vertical-align:top;font-size:0">

                                                      <div style="width:168px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:168px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td align="center" style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:22px;line-height:26px;padding-bottom:20px"><span class="aBn" data-term="goog_1389673571" tabindex="0"><span class="aQJ">12:30 - 4am</span></span></td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>





                                                      <div style="width:300px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="left" style="border:none;border-collapse:collapse;border-spacing:0;max-width:336px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td style="color:#c0c0c8;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px" align="left">To avoid the highest fares, catch a ride just after <span class="aBn" data-term="goog_1389673572" tabindex="0"><span class="aQJ">midnight</span></span> or have your app notify you when Surge Pricing drops.</td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>

                                                      </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
                                            <tr>
                                              <td>

                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                                                  <tbody><tr>
                                                    <td align="center" style="padding:50px 14px 0 14px">

                                                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:660px">
                                                        <tbody><tr>
                                                          <td style="padding:0px 0 50px"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                                                              <tbody><tr>
                                                                <td height="2" style="font-size:0px;line-height:0px;background:#3a3a48">&nbsp;</td>
                                                              </tr>
                                                            </tbody></table></td>
                                                        </tr>
                                                      </tbody></table>

                                                      </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
                                            <tr>
                                              <td style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:30px;line-height:36px;padding-bottom:30px;padding-top:10px" align="center">Tips for NYE</td>
                                            </tr>
                                            <tr>
                                              <td align="center">

                                                <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:504px" width="100%">
                                                  <tbody><tr>
                                                    <td style="text-align:center;vertical-align:top;font-size:0;padding-bottom:40px">

                                                      <div style="width:168px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:168px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td align="center" style="color:#000000;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding-bottom:20px"><img src="https://ci5.googleusercontent.com/proxy/J_1UrOH4Ww_O3eyd2VYMz64lhcn2OKnDlLRvqOLzk7ki76f52OcDOTLslsnb-VF4jVv6bTw3dSpUte61m8BMkUt4cZ0FYmmE-8HXiBz9eVFvZobDEasB_N92=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/12/122115_champ.png" width="100%" height="auto" style="border:0;clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto" class="CToWUd"></td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>





                                                      <div style="width:300px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="left" style="border:none;border-collapse:collapse;border-spacing:0;max-width:336px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:22px;line-height:26px;padding-bottom:5px" align="left"> Check the price </td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="color:#c0c0c8;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px" align="left"> You’ll be asked to confirm an increased rate if Surge Pricing is in effect. Estimate your fare before requesting. </td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>

                                                      </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
                                            <tr>
                                              <td align="center">

                                                <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:504px" width="100%">
                                                  <tbody><tr>
                                                    <td style="text-align:center;vertical-align:top;font-size:0;padding-bottom:40px">

                                                      <div style="width:168px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:168px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td align="center" style="color:#000000;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding-bottom:20px"><img src="https://ci5.googleusercontent.com/proxy/uaVjsxJZ5lHpYsci2MeMIsZVB0IbXJch97tqrgfP8d9mDpIRdYCrM7vlIsWRsaH5u-K2OmqNwQGBjN2GWIMberj1Jg040huTCFOnWYaqFrq3A_4N9071NA=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/12/122115_hat.png" width="100%" height="auto" style="border:0;clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto" class="CToWUd"></td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>





                                                      <div style="width:300px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="left" style="border:none;border-collapse:collapse;border-spacing:0;max-width:336px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:22px;line-height:26px;padding-bottom:5px" align="lefT">Split your fare</td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="color:#c0c0c8;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px" align="left">Use Fare Split and share the cost of your ride with everyone in the car.</td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>

                                                      </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
                                            <tr>
                                              <td align="center">

                                                <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:504px" width="100%">
                                                  <tbody><tr>
                                                    <td style="text-align:center;vertical-align:top;font-size:0;padding-bottom:40px">

                                                      <div style="width:168px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:168px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td align="center" style="color:#000000;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding-bottom:20px"><img src="https://ci3.googleusercontent.com/proxy/l7Oa7MJLzDvLlqKkZP-69f9f0uh_MFS6PrDNeOuwCpzcrkXtitSkzgwF_A274Op-OHkEpaoOePd0FNj1lSHq6hCMF_cJyo64Lo-Tj8n_EEFSCzw7O8sfAHc=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/12/122115_car2.png" width="100%" height="auto" style="border:0;clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto" class="CToWUd"></td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>





                                                      <div style="width:300px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="left" style="border:none;border-collapse:collapse;border-spacing:0;max-width:336px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:22px;line-height:26px;padding-bottom:5px" align="left"> Confirm your driver </td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="color:#c0c0c8;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px" align="lefT"> Your driver’s name, vehicle, phone number, and license plate are in the app. </td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>

                                                      </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
                                            <tr>
                                              <td align="center">

                                                <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:504px" width="100%">
                                                  <tbody><tr>
                                                    <td style="text-align:center;vertical-align:top;font-size:0;padding-bottom:75px">






                                                        <div style="width:168px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="center" style="border:none;border-collapse:collapse;border-spacing:0;max-width:168px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td align="center" style="color:#000000;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding-bottom:20px"><img src="https://ci4.googleusercontent.com/proxy/n2LFPqWILpKxKx5FLSYXrx-0OYcScnsrCliuuo3PqRWpL6mrd2jRjFchKxbZK25x0OdEI9a09i2DNcQY82kMFuTbcdnJN4AH5iv7ZjECKXVqWIhrdthDXTKl=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/12/122115_clock.png" width="100%" height="auto" style="border:0;clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto" class="CToWUd"></td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>





                                                      <div style="width:300px;display:inline-block;vertical-align:top">
                                                        <table border="0" cellpadding="0" cellspacing="0" align="left" style="border:none;border-collapse:collapse;border-spacing:0;max-width:336px">
                                                          <tbody><tr>
                                                            <td style="padding-left:12px;padding-right:12px"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed">
                                                                <tbody><tr>
                                                                  <td style="color:#c0c0c8;font-family:'ClanPro-Thin',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;font-size:22px;line-height:26px;padding-bottom:5px" align="left"> Send your status </td>
                                                                </tr>
                                                                <tr>
                                                                  <td style="color:#c0c0c8;font-family:'HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px" align="left"> Send your trip status and let friends know when you’ll arrive or when you’re home safe. </td>
                                                                </tr>
                                                              </tbody></table></td>
                                                          </tr>
                                                        </tbody></table>
                                                      </div>

                                                      </td>
                                                  </tr>
                                                </tbody></table>

                                                </td>
                                            </tr>
<tr>
                                              <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse">
                                                  <tbody><tr>
                                                    <td><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="table-layout:fixed">
                                                        <tbody><tr>
                                                          <td style="padding:0" align="center"><table border="0" cellspacing="0" cellpadding="0">
                                                              <tbody><tr>
                                                                <td style="border-radius:4px" bgcolor="#cbaa68" align="center"><a href="http://t.sidekickopen36.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs3My3kdW1q7zxg4Xr5g6W4WYmcW56dPT-d5ppcY02?t=https%3A%2F%2Fclick.et.uber.com%2F%3Fqs%3D91cef90fe5a3794eb4ee882bdd510d1107ee1a6b202592f6307a95beabab18cf3f299cfae80659716f4261cb7731c992&amp;si=5659449781125120&amp;pi=64841fdc-37fb-47bf-d601-c557e1158abe" style="font-size:14px;font-family:'ClanPro-News',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Regular',Arial,sans-serif;color:#ffffff;text-decoration:none;border-radius:4px;padding:10px 15px;border:1px solid #cbaa68;display:inline-block;letter-spacing:1px;font-weight:normal;text-transform:uppercase" target="_blank"> READ THE NYE RIDE GUIDE </a>
                                                                  </td>

                                                              </tr>
                                                            </tbody></table></td>
                                                        </tr>
                                                      </tbody></table></td>
                                                  </tr>
                                                </tbody></table></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-top:35px" align="center"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                                                  <tbody><tr>
                                                    <td align="center"><img src="https://ci3.googleusercontent.com/proxy/C7NZ0Z8daBgyfR8_XaPVlWJeNA9gG2DEs6mw9jy01bwYP0beB40dDwaTtZxLU51U_yeoyNBFL8ITY0wJHV4Hl8BLw7n6dseHZc1ub9_EpVm3NFZRoiAS2W4=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2015/12/120815_city.png" width="100%" height="auto" style="border:none;clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto" alt="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 515px; top: 2297px;"><div id=":m8" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div></td>
                                                  </tr>
                                                </tbody></table></td>
                                            </tr>
                                          </tbody></table>

                                          </td>
                                      </tr>
                                    </tbody></table>


                                    </td>
                                </tr>
                              </tbody></table>

                              </td>
                          </tr>
                        </tbody></table>

                        </td>
                    </tr>
                  </tbody></table></td>
              </tr>

              <tr>
                <td style="text-align:center;vertical-align:top;padding:25px 0" align="center"><table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" style="border:none;border-spacing:0;margin:0 auto;max-width:670px;table-layout:fixed">
                    <tbody><tr>
                      <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                          <tbody><tr>
                            <td align="center" style="color:#9d9da3;font-family:'Helvetica Neue Regular','Helvetica Regular',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding:35px 20px 0">
                            Uber B.V. Vijzelstraat 68,1017 HL Amsterdam


                            </td>
                          </tr>
                        </tbody></table></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0">
                          <tbody><tr>
                            <td align="center" style="padding-bottom:40px"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:320px">
                                <tbody><tr>
                                  <td style="text-align:center;vertical-align:top;font-size:0" align="center"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;max-width:320px" align="left">
                                      <tbody><tr>
                                        <td align="center" style="color:#ffffff;font-family:'Helvetica Neue Regular','Helvetica Regular',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding-top:4px"><a href="http://t.sidekickopen36.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs3My3kdW1q7zxg4Xr5g6W4WYmcW56dPT-d5ppcY02?t=https%3A%2F%2Fclick.et.uber.com%2F%3Fqs%3D91cef90fe5a3794ec7bfa2419dd8de6a138c57bbc5b0b104760a6478cd0beeb876b4c8a7c26694b1&amp;si=5659449781125120&amp;pi=64841fdc-37fb-47bf-d601-c557e1158abe" style="color:#ffffff;text-decoration:none" target="_blank"> Get Help </a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://t.sidekickopen36.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs3My3kdW1q7zxg4Xr5g6W4WYmcW56dPT-d5ppcY02?t=https%3A%2F%2Fclick.et.uber.com%2F%3Fqs%3D91cef90fe5a3794e4a7085ffee179ddb75917332194bf6f1199a9da5bc904a76d564bc216aea4e80&amp;si=5659449781125120&amp;pi=64841fdc-37fb-47bf-d601-c557e1158abe" style="color:#ffffff;text-decoration:none" target="_blank"> View Online </a><br> <a href="http://t.sidekickopen36.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs3My3kdW1q7zxg4Xr5g6W4WYmcW56dPT-d5ppcY02?t=https%3A%2F%2Fclick.et.uber.com%2F%3Fqs%3D91cef90fe5a3794ee025a0c6cc1b778c306d3f53896dee6067fcc57917503d8c8561973b3838e675&amp;si=5659449781125120&amp;pi=64841fdc-37fb-47bf-d601-c557e1158abe" style="color:#ffffff;text-decoration:none" target="_blank"> Unsubscribe</a></td>
                                      </tr>
                                    </tbody></table></td>
                                </tr>
                              </tbody></table></td>
                          </tr>
                        </tbody></table></td>
                    </tr>

                  </tbody></table></td>
              </tr>
            </tbody></table></td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>
<img src="https://ci4.googleusercontent.com/proxy/WtenW6n6_VsFxKrhssUZdrZDM2uuFASTlkDV3Bh7-0WWqt93w8wi1ybVLbUhtF3i_l0fIpS2Qi6xDM7tE-monevQMvlDfUhQgSaF7-teHIfuuFpkRygjGcgTgosWZs_kmzXuBOPBVH9vgTZAWvApNLKR9NGWl8Gl9ybFiJhanbAUUiRweblHc8ZZEaCTms4WPvSGJMEoRZusoxpeAJdkow0LGDeEz108JO7P=s0-d-e1-ft#https://click.et.uber.com/open.aspx?ffcb10-fe9217727262067970-fe2716757c6c047e771176-fe9112737763017e71-ff66177574-fe28157472610078701478-ff61137577" width="1" height="1" class="CToWUd">
<div style="margin:0 auto;font-size:0px;line-height:0px;color:#151525"> Uber Technologies Inc.
1455 Market Street San Francisco, CA, 94103, US</div>

</div>

</div>
